<div class="control-group last">
  <%= f.label :product_id, requirify('Which session?'), :class => 'control-label' %>
  <div class="controls">
    <%= f.select :product_id, Product.find(:all, :conditions => ['category =?', 'inhouse']).map { |p| [p.name, p.id] }, { :prompt => '' }, :class => 'input-auto' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :first_name, requirify('Player first name'), :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :first_name %>
  </div>
</div>

<div class="control-group">
  <%= f.label :last_name, requirify('Player last name'), :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :last_name %>
  </div>
</div>

<div class="control-group">
  <%= f.label :parent_first_name, requirify('Parent first name'), :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :parent_first_name %>
  </div>
</div>

<div class="control-group">
  <%= f.label :parent_last_name, requirify('Parent last name'), :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :parent_last_name %>
  </div>
</div>

<div class="control-group">
  <%= f.label :tshirt_size, requirify('Tshirt size'), :class => 'control-label' %>
  <div class="controls">
      <%= f.select :tshirt_size, SIZE_OPTIONS, { :prompt => '' }, :class => 'input-auto' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :school, requirify('School'), :class => 'control-label' %>
  <div class="controls">
    <%= f.select :school, SCHOOL_OPTIONS, { :prompt => '' }, :class => 'input-auto' %>
  </div>
</div>

<div class="control-group last">
  <%= f.label :grade, requirify('Grade'), :class => 'control-label' %>
  <div class="controls">
    <%= f.select :grade, GRADE_OPTIONS, { :prompt => '' }, :class => 'input-mini' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :email, requirify('Contact email'), :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :email %>
  </div>
</div>

<div class="control-group">
  <%= f.label :email_confirmation, requirify('Confirm email'), :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :email_confirmation %>
  </div>
</div>

<div class="control-group last">
  <%= f.label :phone, requirify('Phone'), :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :phone %>
  </div>
</div>

<div class="control-group">
  <%= f.label :address, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :address %>
  </div>
</div>

<div class="control-group">
  <%= f.label :city, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :city %>
  </div>
</div>

<div class="control-group">
  <%= f.label :state, :class => 'control-label' %>
  <div class="controls">
    <%= f.select :state, [['MN', 'MN']], {}, :class => "input-mini" %>
  </div>
</div>

<div class="control-group last">
  <%= f.label :zip, :class => 'control-label' %>
  <div class="controls">
    <%= f.text_field :zip, :class => 'input-small' %>
  </div>
</div>

<% if logged_in? %>
  <div class="control-group">
    <div class="controls">
      <%= f.label :parent_helper, :class => 'checkbox' do %>
        <%= f.check_box :parent_helper %>
        Parent helper?
      <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :parent_tshirt_size, :class=> 'control-label' %>
    <div class="controls">
      <%= f.select :parent_tshirt_size, SIZE_OPTIONS, :prompt => 'Select size ..' %>
    </div>
  </div>
<% else %>
  <div class="alert alert-warning alert-block last">
    <h4>Please volunteer as a parent helper!</h4>
    <p>
    Would you consider being a parent helper for your daughter's team? 
    You don't need to know anything about volleyball. 
    We'll make it easy and fun!!
    </p>
    <div class="field">
      <div class="checkbox">
        <%= f.check_box :parent_helper %>
        <%= f.label :parent_helper, "Yes - I'll be a parent helper! " %>
      </div>
    </div>
    <p>
      If you'll be helping, please give us your tshirt size below. 
    </p>
    <div>
      <%= f.select :parent_tshirt_size, SIZE_OPTIONS, :prompt => 'Select size ..' %>
    </div>
  </div>
<% end %>

<% if logged_in? %>
  <div class="control-group">
    <div class="controls">
      <%= f.label :volleyball, :class => 'checkbox' do %>
        <%= f.check_box :volleyball %>
        Lite volleyball?
      <% end %>
    </div>
  </div>
<% else %>
  <div class="alert alert-success alert-block">
    <h4>Include a lite volleyball with your registration? </h4>
    <p>
      All of our volleyball practice and play is done using specialized light volleyball from Tachikara designed for young volleyball players. 
      Check this box if you would like to purchase a volleyball to keep along with your registration ($XX.XX).
    </p>
    <div class="field">
      <div class="checkbox">
        <%= f.check_box :volleyball %>
        <%= f.label :volleyball, "Yes, include lite volleyball (#{dollarify LITE_VOLLEYBALL_PRICE_IN_CENTS})" %>
      </div>  
    </div>
  </div>
<% end %>

<% if logged_in? %>
  <div class="control-group">
    <div class="controls">
      <%= f.label :waiver, :class => 'checkbox' do %>
        <%= f.check_box :waiver, :checked => true %>
        <%= requirify('Waiver?') %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="alert alert-info alert-block">
    <h4>Waiver and release of liability</h4>
    <p>
      In consideration of your acceptance of my child as a participant in the <%= APP_LONG_NAME %> program, 
      I hereby waive all claims against <%= APP_LONG_NAME %>, Inc., 
      it’s coaches, board members, organizers, persons transporting my child to a from activities, 
      from any claim arising out of injury or harm to my child incidental to, connected with, 
      or arising out of the <%= APP_LONG_NAME %> activities. 
      All sports have intrinsic hazards. 
      Participation in the <%= APP_LONG_NAME %> in-house session implies some risk of injury.  
      I understand that photos and/or videos may be taken of the session for advancement of learning.
    </p> 
    <div class="field">
      <div class="checkbox">      
        <%= f.check_box :waiver %>
        <%= f.label :waiver, requirify('I have read and agree to the liability release') %>
      </div>
    </div>  
  </div>
<% end %>
<div class="control-group last">
  <%= f.label :note, 'Any special note for this registration', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_area :note, :class => 'input-xlarge', :rows => 3 %>
  </div>
</div>


