<%= render 'shared/show_flash' %>

<div class="page-header">
    <h1>Registrations</h1>
</div>

<% if @registrations.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Player</th>
        <th>Email</th>
        <th>Balance</th>
        <th>Paid?</th>
        <th>School</th>
        <th>Grd</th>
        <th>Product</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @registrations.each do |r| %>
        <tr>
          <td><%= r.id %></td>
          <td><%= link_to "#{r.last_name}, #{r.first_name}", r %></td>
          <td><%= r.email %></td>
          <td><%= dollarify r.balance %></td>
          <td><%= r.payments.first.paid? %></td>
          <td><%= r.school %></td>
          <td><%= r.grade %></td>
          <td><%= r.product.code %></td>
          <td class="shrink">
            <%= link_to 'Payment', r.payments.first, :class => 'btn btn-mini' %>
            <%= link_to 'Edit', edit_registration_path(r), :class => 'btn btn-mini'  %>
            <%= link_to 'Destroy', r, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-mini btn-danger'  %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
<% end %>

<%= link_to 'New Registration', new_registration_path, :class => 'btn btn-primary' %>
