<%= form_for @registration, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend>New Registration</legend>
    <%= render 'shared/form_errors', :object => @registration %>
    <%= render 'fields', :f => f %>

		<div class="form-actions">
		  <%= f.submit nil, :class => 'btn btn-primary' %>
		  or <%= link_to 'Cancel', root_path %>
		</div>
  </fieldset>
<% end %>

