<%= form_for @registration, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend>New inhouse volleyball registration</legend>
    <%= render 'shared/form_errors', :object => @registration %>
    <%= render 'fields', :f => f %>

		<div class="form-actions">
			<% if logged_in? %>
			  <%= f.submit nil, :class => 'btn btn-primary' %>
			<% else %>
			  <%= f.submit 'Continue »', :class => 'btn btn-primary' %>
			<% end %>
		  or <%= link_to 'Cancel', root_path %>
		</div>
  </fieldset>
<% end %>

