<%= render 'shared/show_flash' %>

<div class="page-header">
  <h1>Details for <%= @registration.name %></h1>
</div>
<div class="alert alert-info">
  <table class="nested">
    <tbody>
      <tr>
        <td class=""><strong>Payment #: <strong></td>
        <td><%= @registration.payments.first.id %></td>
      </tr>
      <tr>
        <td class=""><strong>Online: <strong></td>
        <td><%= @registration.payments.first.online? %></td>
      </tr>
      <tr>
        <td class=""><strong>Scholarship: <strong></td>
        <td><%= @registration.payments.first.scholarship? %></td>
      </tr>
      <tr>
        <td class=""><strong>Paypal txn id: <strong></td>
        <td><%= @registration.payments.first.paypal_txn_id %></td>
      </tr>
      <tr>
        <td class=""><strong>Amount: <strong></td>
        <td><%= dollarify @registration.payments.first.amount %></td>
      </tr>
      <tr>
        <td class=""><strong>Balance: <strong></td>
        <td><%= dollarify (@registration.product.price - @registration.payments.first.amount) %></td>
      </tr>
    </tbody>
  </table>
</div>
<table class="table table-bordered">
  <tbody>
    <tr>
      <td class="form-actions top-toolbar" colspan="2">
        <%= link_to 'All registrations', registrations_path, :class => 'btn' %>
        <%= link_to 'Edit', edit_registration_path(@registration), :class => 'btn' %>
        <%= link_to 'Destroy', registration_path(@registration), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
      </td>
    </tr>
    <tr>
      <td class="shrink"><strong>#:</strong> </td>
      <td><%= @registration.id %></td>
    </tr>
    <tr>
      <td class="shrink"><strong>Product:</strong> </td>
      <td><%= @registration.product.name %></td>
    </tr>
    <tr>
      <td class="shrink"><strong>Price:</strong> </td>
      <td><%= dollarify @registration.product.price %></td>
    </tr>
    <tr>
      <td class="shrink"><strong>Player:</strong> </td>
      <td><%= @registration.name %></td>
    </tr>
    <tr>
      <td class="shrink"><strong>Parent:</strong> </td>
      <td><%= @registration.parent_name %></td>
    </tr>
    <tr>
      <td class="shrink"><strong>Email:</strong> </td>
      <td><%= @registration.email %></td>
    </tr>
    <tr>
      <td class="shrink"><strong>Phone:</strong> </td>
      <td><%= @registration.phone %></td>
    </tr>
    <tr>
      <td class="shrink"><strong>Address:</strong> </td>
      <td><%= @registration.address %></td>
    </tr>
    <tr>
      <td class="shrink"><strong>City:</strong> </td>
      <td><%= @registration.city %></td>
    </tr>
    <tr>
      <td class="shrink"><strong>State:</strong> </td>
      <td><%= @registration.state %></td>
    </tr>
    <tr>
      <td class="shrink"><strong>Zip:</strong> </td>
      <td><%= @registration.zip %></td>
    </tr>
    <tr>
      <td class="shrink"><strong>Grade:</strong> </td>
      <td><%= @registration.grade %></td>
    </tr>
    <tr>
      <td class="shrink"><strong>School:</strong> </td>
      <td><%= @registration.school %></td>
    </tr>
    <tr>
      <td class="shrink"><strong>Tshirt size:</strong> </td>
      <td><%= @registration.tshirt_size %></td>
    </tr>
    <tr>
      <td class="shrink"><strong>Parent tshirt size:</strong> </td>
      <td><%= @registration.parent_tshirt_size %></td>
    </tr>
    <tr>
      <td class="shrink"><strong>Note:</strong> </td>
      <td><%= @registration.note %></td>
    </tr>
    <tr>
      <td class="shrink"><strong>Parent helper:</strong> </td>
      <td><%= @registration.parent_helper %></td>
    </tr>
    <tr>
      <td class="shrink"><strong>Waiver:</strong> </td>
      <td><%= @registration.waiver %></td>
    </tr>
    <tr>
      <td class="shrink"><strong>Volleyball:</strong> </td>
      <td><%= @registration.volleyball %></td>
    </tr>
  <tbody>
</table>
