<% content_for :title, "About #{APP_SHORT_NAME}" %>

<header id="overview" class="subhead page-header">
	<div class="container">
		<h1>About <%= APP_SHORT_NAME %></h1>
	</div>
</header>

<section id="about">
	<p>
		<%= APP_LONG_NAME %> provides developmental volleyball teams and programs to Lakeville youth grades two through nine. 
		At the present time, <%= APP_SHORT_NAME %> organizes and sponsors several volleyball offerings for school-age Lakeville boys and girls. 
	</p>
	<ul>
		<li>A community-based fall and spring in-house volleyball league for boys and girls grade 1-6</li>
		<li>Volleyball skill training for girls in grade 4-6</li>
		<li>Fall and winter USA Junior Olympic teams (Lakeville South HS attendance area only)</li>
	</ul>

	<p>
		All players are welcome, regardless of skill level. 
		We try to provide a positive sport experience with an emphasis on skill development and training in the great sport of volleyball.
	</p>
	<p>
		<%= APP_LONG_NAME %> exists to promote and develop youth volleyball for any school-age girls in the Lakeville community, regardless of school attendance. Except for our Junior Olympic offerings, as much as possible, <%= APP_SHORT_NAME %> programming is community-wide. 
	</p>
</section>

<section id="mission">
	<h3>Mission</h3>
	<p>
		The mission of Lakeville South Juniors is to promote youth volleyball development in Lakeville through affordable, high quality volleyball training and competitive teams. 
	</p>
</section>

<section id="values">
	<h3>Values</h3>
	<ol>
		<li>
			Volleyball success depends on a foundation of all-around skill development. 
			Young players benefit from instruction and playing experience that includes all core volleyball skills. 
		</li>
		<li>
			At the core of athletics is the desire to compete. 
			Players benefit by maximizing opportunities for competition against other teams and players.
		</li>
		<li>
			Volleyball should be an inclusive activity. 
			Opportunities should be available for players of varying commitment (time), financial (money), or skill (experience) levels.
		</li>
		<li>
			Volleyball enhances our community. 
			Youth sports should be a starting point for players to develop leadership skills and impact Lakeville and beyond.
		</li>
		<li>
			Community youth sports have unique advantages over other settings. Players benefit from connections with their school community and classmates through volleyball.
		</li>
		<li>
			Youth sports are in partnership with whole community. 
			There should be a shared vision to support volleyball in the Lakeville community from the elementary through high school level.
		</li>
		<li>
			Sportsmanship is at the core of any athletic achievement. 
			Players should always treat others (competitors, coaches, officials, spectators) with fairness, courtesy and respect.
		</li>
	</ol>
</section>