<%= render 'shared/show_flash' %>

<header id="overview" class="subhead page-header">
	<div class="container">
		<h1>Lakeville Juniors volleyball</h1>
		<p class="lead">Lakeville South girl's volleyball teams, leagues, and instruction</p>
	</div>
</header>

<section id="inhouse">
  <div class="page-header">
    <h3>[Girls + Boys Grade 1-5] Spring 2014 in-house volleyball league registration!</h3>
    <p>
      <span class="label label-important">Registration open!</span>
      Registration is now available for fall in-house volleyball. 
      We would love to have you playing volleyball with us again. 
      Don't forget that our league now includes boys!
      You may <%= link_to 'register online now', new_registration_path %>, or a PDF version of the registration is available for <%= link_to 'download', 'fall.2014.inhouse.flyer.pdf', :target => '_blank' %>.
    </p>
    <p>
      Lakeville Juniors in-house volleyball league is an instructional league for players in grades 1-5. 
      We'll host a beginner session for grades 1-3 and an intermediate session for grades 3-5.
      Players are placed on teams of 7-12 players for skill instruction and play. 
      Each date includes individual volleyball instruction, team practice, and game competition, with the final date being round-robin tournament play. 
      Players are instructed by Lakeville North/South high school team players and volunteer parent coaches, under the supervision of Lakeville Juniors head coaches.
      In-house volleyball is open to all, regardless of attendance area. 
    </p>
    <p><%= league_when_and_where_grid(false).html_safe %></p>
  </div>
</section>

<section id="fall-12s">
  <div>
    <h3>Fall U12 Tryouts - Team Rosters Posted</h3>
    <p>
      It's been so much fun practicing with all of our youth traveling players in August. 
      Coaches are so impressed with the level of play and your dedication to volleyball. 
      Check out the final  JO <%= link_to 'rosters', JO_TRYOUT_ROSTERS_URL, :target => '_blank' %> which have been posted online. 
    </p>
  </div>
</section>
<!-- 
<section id="skill-sessions">
  <div class="page-header">
    <h3>12-And-Under Volleyball Skill Sessions (Feb/Mar 2014)</h3>
    <p>
      <span class="label label-important">Sign up now!</span>
      Are you a grade 4-6 player looking for advanced volleyball instruction and training? 
      Registration is now open for our popular 12-and-under (grade 4-6) volleyball skill sessions!
      Please join us for our Feb/Mar skill session beginning on Tues Feb 11. 
    </p>
    <ul>
      <li>Open to any player, regardless of attendance area (South or North)</li>
      <li>$95/session includes six 90 minute practices. </li>
      <li>All training provided by Lakeville Juniors coaching staff. </li>
      <li>Feb/Mar session scheduled for Tues Feb 11, Thur Feb 13, Wed Feb 19, Wed Feb 26 (March dates still TBD)</li>
      <li><%= link_to 'Registration', SKILL_SESSION_FORM_URL, :target => '_blank' %> is simple and can be done online. </li>
    </ul> 
    <p>
      Need more information? 
      Contact club director <%= mail_to JO_CLUB_DIRECTOR_EMAIL_ADDRESS, 'Denielle Johnson', :encode => 'hex' %> with questions.
      Be sure to <%= link_to 'register online', SKILL_SESSION_FORM_URL, :target => '_blank' %> today. 
      In the past these sessions have filled quickly and space is limited. 
  </div>
</section>
-->




