<%= render 'shared/show_flash' %>

<header id="overview" class="subhead page-header">
	<div class="container">
		<h1>Lakeville Juniors volleyball</h1>
		<p class="lead">Lakeville South volleyball teams, leagues, and instruction</p>
	</div>
</header>

<!--
<section id="winter-jo">
  <div class="page-header">
    <h3>[Girls Grade 4-8] Winter JO Volleyball Tryouts!</h3>
    <p>
      <span class="label label-important">Tryout Registration!</span>
      Registration is now available for Lakeville South winter USA-JO volleyball. 
      This is an opportunity for girls to train and compete in the great sport of volleyball at a high level. 
      Teams practice one to two times per week (depending on level) and play in leagues and tournaments throughout the metro area. 
      Practices conveniently scheduled for local Lakeville school facilities. 
      Teams are forming now for our winter season that runs December-April. 
    </p>
    <p>
      Want to give it a try - there is no cost to tryout!
      You may <%= link_to 'register online', JO_TRYOUT_FORM_URL, :target => '_blank' %> for tryouts here. 
      Download our <%= link_to 'program information sheet', JO_FACT_SHEET_URL, :target => '_blank' %> for tryout dates and times (tentative, subject to change), and for more complete details about each team. 
    </p>
    <p>
      Questions? Contact club director <%= mail_to JO_CLUB_DIRECTOR_EMAIL_ADDRESS, 'Denielle Johnson', :encode => 'hex' %>. 
    </p>
  </div>
</section>

<section id="skill-sessions">
  <div class="page-header">
    <h3>[Girls Grade 4-6] Volleyball Skill Sessions (Mar/Apr 2015)</h3>
    <p>
      <span class="label label-important">Sign up now!</span>
      Are you a grade 4-6 player looking for advanced volleyball instruction and training? 
      Registration is now open for our popular 12-and-under (grade 4-6) volleyball skill sessions!
      Please join us for our Winter JO prep skill session beginning in late February. 
    </p>
    <ul>
      <li>Open to any player, regardless of attendance area (South or North)</li>
      <li>$95/session includes six 90 minute practices. </li>
      <li>All training provided by Lakeville Juniors coaching staff. </li>
      <li>Sessions are Tuesday evenings, Mar 17/24/31, Apr 7/14/21 from 600-730p. </li>
      <li><%= link_to 'Registration', SKILL_SESSION_FORM_URL, :target => '_blank' %> is simple and can be done online. </li>
    </ul> 
    <p>
      Need more information? 
      Contact club director <%= mail_to JO_CLUB_DIRECTOR_EMAIL_ADDRESS, 'Denielle Johnson', :encode => 'hex' %> with questions.
      Be sure to <%= link_to 'register online', SKILL_SESSION_FORM_URL, :target => '_blank' %> today. 
      In the past these sessions have filled quickly and space is limited. 
    </p>
  </div>
</section>

-->

<section id="inhouse">
  <div class="">
    <h3>[Girls + Boys Grade 1-5] Spring 2015 In-house volleyball league registration!</h3>
    <p>
      <span class="label label-important">Registration open!</span>
      Now accepting registrations for Saturday Volleyball league for April/May 2015. 
      Don't forget that our league now includes boys!
      You may <%= link_to 'register online now', new_registration_path %>, or a PDF version of the registration is available for <%= link_to 'download', 'spring.2015.inhouse.flyer.pdf', :target => '_blank' %>.
    </p>
    <p>
      Lakeville Juniors in-house volleyball league is an instructional league for players in grades 1-5. 
      We'll host a beginner session for grades 1-3 and an intermediate session for grades 3-5.
      Players are placed on teams of 7-12 players for skill instruction and play. 
      Each date includes individual volleyball instruction, team practice, and game competition, with the final date being round-robin tournament play. 
      Players are instructed by Lakeville South high school team players and volunteer parent coaches, under the supervision of Lakeville Juniors head coaches.
      In-house volleyball is open to all, regardless of attendance area. 
    </p>
    <p><%= league_when_and_where_grid(false).html_safe %></p>
  </div>
</section>

<section id="camp">
  <div>
    <h3>[Girls + Boys Grade 2-12] Cougar Summer Volleyball Camp</h3>
    <p>
      <span class="label label-important">Sign up for Camp!</span>
      Now accepting registration for Lakeville South Summer Volleyball Camp. 
      You may <%= link_to 'register online now', BOOSTER_CAMP_REGISTRATION_URL, :target => '_blank' %>, 
      or a PDF version of the registration with more info is available for <%= link_to 'download', BOOSTER_CAMP_FLYER_URL, :target => '_blank' %>. 
    </p>
    <p>
      The Lakeville South High School program invites you to participate in their summer 2015 volleyball camps. 
      The High School camp (9-12) will be led by former Lakeville volleyball star 
      and Augsurg College head volleyball coach Jane Becker, two-time MIAC coach of the year. 
      The Youth (2-5) and Middle School (6-8) camps will be led by South High School staff and players. 
    </p>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Camp</th>
          <th>Grades</th>
          <th>Cost</th>
        </tr> 
      </thead>
      <tbody>
        <tr>
          <td>July 13-16</td>
          <td>9:00 am - noon</td>
          <td>High School + Freshman</td>
          <td>9-12</td>
          <td>$110.00</td>
        </tr>
        <tr>
          <td>July 20-23</td>
          <td>9:00 am - noon</td>
          <td>Middle School</td>
          <td>6-8</td>
          <td>$100.00</td>
        </tr>
        <tr>
          <td>July 20-23</td>
          <td>1:00 - 4:00 pm</td>
          <td>Youth</td>
          <td>2-5</td>
          <td>$90.00</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<!--
<section id="fall-12s">
  <div>
    <h3>Fall U12 Tryouts - Team Rosters Posted</h3>
    <p>
      It's been so much fun practicing with all of our youth traveling players in August. 
      Coaches are so impressed with the level of play and your dedication to volleyball. 
      Check out the final JO <%= link_to 'rosters', JO_TRYOUT_ROSTERS_URL, :target => '_blank' %> which have been posted online. 
    </p>
  </div>
</section>

-->



