<%= render 'shared/show_flash' %>


<header id="overview" class="subhead page-header">
	<div class="container">
		<h1>Lakeville Juniors volleyball</h1>
		<p class="lead">Youth volleyball leagues and instruction for girls</p>
	</div>
</header>

<!--
<h3>Advanced skill sessions for girls grade 4-6!</h3>
<p>
	Do you love volleyball? Are you looking for more advanced volleyball training?
	The Lakeville South junior volleyball club will be offering once per week skill sessions for girls in grade 4-6. 
	This is a great opportunity to train during the winter season with the South 12-and-under coaches and players. 
	You may register for either of two sessions (Jan/Feb or Mar/Apr), at a cost of $95/sesssion. 
	Players from outside the South attendance area are welcome to register as well. 
	Visit their website right away to <%= link_to 'register now', 'http://lakevillesouthjuniors.com/Site/Skills_Training.html', :target => '_blank' %> or for more information! 
</p>
-->

<h3>[Girls Grade 1-6] Spring 2013 volleyball league scheduled!</h3>
<p>
	Our dates for the spring in-house league are set!
	We are planning the same format for spring and would love to have you playing with us again.  
	You may <%= link_to 'register online now', new_registration_path %>, or a PDF version of the registration is available for <%= link_to 'download', 'spring.2013.inhouse.flyer.pdf', :target => '_blank' %>. 
</p>
<p>
	Our in-house volleyball league is an instructional league for players in grades 1-6. 
  The beginner session is for grades 1-3 and the intermediate session is for grades 3-5.
  Players are placed on teams of 7-12 players for skill instruction and play. 
  Each date includes individual volleyball instruction, team practice, and game competition, with the final date being round-robin tournament play. 
  Players are instructed by Lakeville North/South high school team players and volunteer parent coaches, under the supervision of Lakeville Juniors head coaches.
  </p>
<p><%= league_when_and_where_grid(false).html_safe %></p>

<!--
<h3>Fall 2012 volleyball league just concluded</h3>
<p>
	Congratulations to our fall volleyball players - our tournament day was a huge success! 
	We had 200+ players participating in this past fall league. 
	Don't miss out on next's spring's session beginning in April - registrations are already being accepted.  
</p>
-->
