
<% roster_href = 'https://docs.google.com/document/d/1usI5aQC6Um7UrAvKl2bmH9Ab7MbbnAxNpSROxE0G1ig' %>
<%= render 'shared/show_flash' %>

<header id="overview" class="subhead page-header">
	<div class="container">
		<h1>Lakeville Juniors volleyball</h1>
		<p class="lead">Youth volleyball leagues and instruction for girls</p>
	</div>
</header>

<h3>[12-and-under] Lakeville South Fall Traveling rosters</h3>
<p>
  Thank you to all the girls who tried our for our fall traveling teams. 
  We had over 50 players trying out for our grade 3-6 teams. 
  Players who did not make a team are eligible to attend August practice with our teams for volleyball skills training. 
  The cost is $40 per player for four sessions. 
  You may email <%= mail_to 'starkey77@charter.net', 'Penny Starkey', :encode => 'hex' %> to reserve your spot. 
  The first practice will be Monday Sept 19 from 700-830p at LSHS-Performance gym. 
</p>
<p>
  View the Fall 2013 fall traveling <%= link_to "final roster", roster_href, :target => '_blank' %>.
</p>

<h3>[Girls Grade 1-5] Fall 2013 in-house volleyball league registration!</h3>
<p>
	Registration is available for fall in-house volleyball. We would love to have you playing volleyball with us again! 
	You may <%= link_to 'register online now', new_registration_path %>, or a PDF version of the registration is available for <%= link_to 'download', 'fall.2013.inhouse.flyer.pdf', :target => '_blank' %>.
</p>
<p>
	Our in-house volleyball league is an instructional league for players in grades 1-5. 
  We'll host a beginner session for grades 1-3 and an intermediate session for grades 3-5.
  Players are placed on teams of 7-12 players for skill instruction and play. 
  Each date includes individual volleyball instruction, team practice, and game competition, with the final date being round-robin tournament play. 
  Players are instructed by Lakeville North/South high school team players and volunteer parent coaches, under the supervision of Lakeville Juniors head coaches.
  In-house volleyball is open to all, regardless of attendance area. 
</p>
<p><%= league_when_and_where_grid(false).html_safe %></p>

<!--
<h3>Fall 2012 volleyball league just concluded</h3>
<p>
	Congratulations to our fall volleyball players - our tournament day was a huge success! 
	We had 200+ players participating in this past fall league. 
	Don't miss out on next's spring's session beginning in April - registrations are already being accepted.  
</p>
-->
