<%= render 'shared/show_flash' %>

<header id="overview" class="subhead page-header">
	<div class="container">
		<h1>Lakeville Juniors volleyball</h1>
		<p class="lead">Lakeville South volleyball teams, leagues, and instruction</p>
	</div>
</header>

<!--
<section id="winter-jo">
  <div class="page-header">
    <h3>[Girls Grade 4-8] Winter JO Volleyball Tryouts!</h3>
    <p>
      <span class="label label-important">Tryout Registration!</span>
      Registration is now available for Lakeville South winter USA-JO volleyball. 
      This is an opportunity for girls to train and compete in the great sport of volleyball at a high level. 
      Teams practice one to two times per week (depending on level) and play in leagues and tournaments throughout the metro area. 
      Practices conveniently scheduled for local Lakeville school facilities. 
      Teams are forming now for our winter season that runs December-April. 
    </p>
    <p>
      Want to give it a try - there is no cost to tryout!
      You may <%= link_to 'register online', JO_TRYOUT_FORM_URL, :target => '_blank' %> for tryouts here. 
      Download our <%= link_to 'program information sheet', JO_FACT_SHEET_URL, :target => '_blank' %> for tryout dates and times (tentative, subject to change), and for more complete details about each team. 
    </p>
    <p>
      Questions? Contact club director <%= mail_to JO_CLUB_DIRECTOR_EMAIL_ADDRESS, 'Denielle Johnson', :encode => 'hex' %>. 
    </p>
  </div>
</section>

<section id="skill-sessions">
  <div class="">
    <h3>[Girls Grade 4-6] Volleyball Skill Sessions (Nov/Dec 2014)</h3>
    <p>
      <span class="label label-important">Sign up now!</span>
      Are you a grade 4-6 player looking for advanced volleyball instruction and training? 
      Registration is now open for our popular 12-and-under (grade 4-6) volleyball skill sessions!
      Please join us for our Nov/Dec skill session beginning on Thurs Nov 13. 
    </p>
    <ul>
      <li>Open to any player, regardless of attendance area (South or North)</li>
      <li>$95/session includes six 90 minute practices. </li>
      <li>All training provided by Lakeville Juniors coaching staff. </li>
      <li>Nov/Dec session scheduled for Tues Nov 13, Mon Nov 17, Tues Nov 18, Mon Nov 24, Mon Dec 1, Thur Dec 4</li>
      <li><%= link_to 'Registration', SKILL_SESSION_FORM_URL, :target => '_blank' %> is simple and can be done online. </li>
    </ul> 
    <p>
      Need more information? 
      Contact club director <%= mail_to JO_CLUB_DIRECTOR_EMAIL_ADDRESS, 'Denielle Johnson', :encode => 'hex' %> with questions.
      Be sure to <%= link_to 'register online', SKILL_SESSION_FORM_URL, :target => '_blank' %> today. 
      In the past these sessions have filled quickly and space is limited. 
    </p>
    <p>
    <table class="table" style="border-top: hidden;">
      <tr>
        <th style="width:15%">Skill Sessions</th>
        <th>Time</th>
        <th style="width:20%;">Site</th>
        <th></th>
      </tr>
      <tr>
        <td>Thurs Nov 13</td>
        <td>6:00-7:30 pm</td>
        <td>Lakeville South HS</td>
        <td>Main gym</td>
      </tr>
      <tr>
        <td>Mon Nov 17</td>
        <td>6:00-7:30 pm</td>
        <td>Lakeville South HS</td>
        <td>Auxilliary gym</td>
      </tr>
      <tr>
        <td>Tues Nov 18</td>
        <td>6:00-7:30 pm</td>
        <td>Lakeville South HS</td>
        <td>Main gym</td>
      </tr>
      <tr>
        <td>Mon Nov 24</td>
        <td>6:00-7:30 pm</td>
        <td>Lakeville South HS</td>
        <td>Auxilliary gym</td>
      </tr>
      <tr>
        <td>Mon Dec 1</td>
        <td>6:00-7:30 pm</td>
        <td>Lakeville South HS</td>
        <td>Main gym</td>
      </tr>
      <tr>
        <td>Thurs Dec 4</td>
        <td>6:00-7:30 pm</td>
        <td>Lakeville South HS</td>
        <td>Main gym</td>
      </tr>
    </table>

    </p>
  </div>
</section>
-->

<section id="inhouse">
  <div>
    <h3>[Girls + Boys Grade 1-5] Spring 2015 In-house volleyball league registration!</h3>
    <p>
      <span class="label label-important">Registration open!</span>
      Now accepting registrations for Saturday Volleyball league for April/May 2015. 
      Don't forget that our league now includes boys!
      You may <%= link_to 'register online now', new_registration_path %>, or a PDF version of the registration is available for <%= link_to 'download', 'spring.2015.inhouse.flyer.pdf', :target => '_blank' %>.
    </p>
    <p>
      Lakeville Juniors in-house volleyball league is an instructional league for players in grades 1-5. 
      We'll host a beginner session for grades 1-3 and an intermediate session for grades 3-5.
      Players are placed on teams of 7-12 players for skill instruction and play. 
      Each date includes individual volleyball instruction, team practice, and game competition, with the final date being round-robin tournament play. 
      Players are instructed by Lakeville North/South high school team players and volunteer parent coaches, under the supervision of Lakeville Juniors head coaches.
      In-house volleyball is open to all, regardless of attendance area. 
    </p>
    <p><%= league_when_and_where_grid(false).html_safe %></p>
  </div>
</section>

<!--
<section id="fall-12s">
  <div>
    <h3>Fall U12 Tryouts - Team Rosters Posted</h3>
    <p>
      It's been so much fun practicing with all of our youth traveling players in August. 
      Coaches are so impressed with the level of play and your dedication to volleyball. 
      Check out the final  JO <%= link_to 'rosters', JO_TRYOUT_ROSTERS_URL, :target => '_blank' %> which have been posted online. 
    </p>
  </div>
</section>

-->




