
<%= render 'shared/show_flash' %>

<header id="overview" class="subhead page-header">
	<div class="container">
		<h1>Lakeville Juniors volleyball</h1>
		<p class="lead">Lakeville South girl's volleyball teams, leagues, and instruction</p>
	</div>
</header>

<section id="skill-sessions">
  <div class="page-header">
    <h3>12-And-Under Volleyball Skill Sessions</h3>
    <p>
      <span class="label label-important">Sign up now!</span>
      Are you a grade 4-6 player looking for advanced volleyball instruction and training? 
      Registration is now open for our popular 12-and-under (grade 4-6) volleyball skill sessions!
      Please join us for our Nov/Dec skill session (date/time TBD) starting soon. 
    </p>
    <ul>
      <li>Open to any player, regardless of attendance area (South or North)</li>
      <li>Two separate sessions scheduled (Nov/Dec and Feb/Mar). </li>
      <li>$95/session includes six 90 minute practices. </li>
      <li>All training provided by Lakeville Juniors coaching staff. </li>
      <li><%= link_to 'Registration', SKILL_SESSION_FORM_URL, :target => '_blank' %> is simple and can be done online. </li>
    </ul> 
    <p>
      Need more information? 
      Contact club director <%= mail_to JO_CLUB_DIRECTOR_EMAIL_ADDRESS, 'Denielle Johnson', :encode => 'hex' %> with questions.
      Be sure to <%= link_to 'register online', SKILL_SESSION_FORM_URL, :target => '_blank' %> today. 
      In the past these sessions have filled quickly and space is limited. 
  </div>
</section>

<section id="jo-volleyball">
  <div class="page-header">
    <h3>South JO traveling volleyball</h3>
    <p>
      <span class="label label-important">New for winter!</span>
      For Lakeville South players looking to train and play competitive volleyball in the off-season, 
      Lakeville Juniors will organize a USA Junior Olympic traveling volleyball program. 
      For more information about fees, coaching staff, and calendar please see our
      <%= link_to 'Lakeville Juniors program fact sheet', JO_FACT_SHEET_URL, :target => '_blank' %>. 
      Some highlights of our new program are listed below!
    </p>
    <ul>
      <li>One or more teams per grade level (grade 4-9) with 8-10 players per team</li>
      <li>Evening practice with weekend tournament play</li>
      <li>USA Junior Olympic sanctioned</li>
      <li>Season runs December through April, with play to begin in January</li>  
      <li>Fees ranging from $300-400 for 10s-12s and $700-725 for 13s-15s. </li>
      <li><strong class="text-success">There is no cost to tryout! </strong>Download our <%= link_to 'Lakeville Juniors JO fact sheet', JO_FACT_SHEET_URL, :target => '_blank' %> for more detailed information about teams calendar, fees, and staff. 
        <%= link_to 'Pre-register', JO_TRYOUT_FORM_URL, :target => '_blank' %> for your age-level tryout today!
      </li>
    </ul>
    <table style="margin-top:20px;margin-bottom:20px;">
      <tr>
        <td style="padding:10px 20px 10px 0">
          <%= link_to 'Pre-register for South JO tryouts!', JO_TRYOUT_FORM_URL, :target => '_blank', :class => 'btn btn-success btn-large' %>
        </td>
        <td>
          <%= link_to 'Get more info!', JO_FACT_SHEET_URL, :target => '_blank', :class => 'btn btn-success btn-large' %>
        </td>
      </tr>
    </table>
    <p>
      Need more information? Contact club director <%= mail_to JO_CLUB_DIRECTOR_EMAIL_ADDRESS, 'Denielle Johnson', :encode => 'hex' %> with questions.
      Be sure to <%= link_to 'pre-register', JO_TRYOUT_FORM_URL, :target => '_blank' %> to receive more info and notification when tryout dates/times become available. 
    </p>
  </div>
</section>

<section id="jo-tryout-schedule">
  <h3>South JO tryout schedule</h3>
  <p><span class="label label-important">Sign-up now!</span>
    Please put our tryout dates on your calendar. 
    There is no cost to tryout, but it's important that you <%= link_to 'pre-register here', JO_TRYOUT_FORM_URL, :target => '_blank' %> 
    and make every effort to attend both the open gym and tryout for your age group. 
  </p>
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Activity</th>
        <th>Age group</th>
        <th>Grades</th>
        <th>Site</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Sat Oct 26</td>
        <td>1200-200p</td>
        <td><strong>Open Gym</strong></td>
        <td>10s/11s/12s</td>
        <td>4-6</td>
        <td>Lakeville South HS</td>
      </tr>
      <tr>
        <td>Sat Oct 26</td>
        <td>200-400p</td>
        <td><strong>Open Gym</strong></td>
        <td>13s/14s</td>
        <td>7-8</td>
        <td>Lakeville South HS</td>
      </tr>
      <tr>
        <td>Mon Oct 28</td>
        <td>600-800p</td>
        <td><strong>Tryout</strong></td>
        <td>13s/14s</td>
        <td>7-8</td>
        <td>Lakeville South HS</td>
      </tr>
      <tr>
        <td>Tues Oct 29</td>
        <td>600-800p</td>
        <td><strong>Tryout</strong></td>
        <td>10s/11s/12s</td>
        <td>4-6</td>
        <td>Lakeville South HS</td>
      </tr>
      <tr>
        <td>Wed Nov 6</td>
        <td>600-800p</td>
        <td><strong>Open gym</strong></td>
        <td>15s</td>
        <td>9</td>
        <td>Lakeville South HS</td>
      </tr>
      <tr>
        <td>Tues Nov 12</td>
        <td>600-800p</td>
        <td><strong>Tryout</strong></td>
        <td>15s</td>
        <td>9</td>
        <td>Lakeville South HS</td>
      </tr>
    </tbody>
  </table>
</section>

<!--
<h3>[Girls Grade 1-5] Fall 2013 in-house volleyball league registration!</h3>
<p>
  <span class="label label-important">Registration open!</span>
	Registration is now available for fall in-house volleyball. We would love to have you playing volleyball with us again! 
	You may <%= link_to 'register online now', new_registration_path %>, or a PDF version of the registration is available for <%= link_to 'download', 'fall.2013.inhouse.flyer.pdf', :target => '_blank' %>.
</p>
<p>
	Our in-house volleyball league is an instructional league for players in grades 1-5. 
  We'll host a beginner session for grades 1-3 and an intermediate session for grades 3-5.
  Players are placed on teams of 7-12 players for skill instruction and play. 
  Each date includes individual volleyball instruction, team practice, and game competition, with the final date being round-robin tournament play. 
  Players are instructed by Lakeville North/South high school team players and volunteer parent coaches, under the supervision of Lakeville Juniors head coaches.
  In-house volleyball is open to all, regardless of attendance area. 
</p>
<p><%= league_when_and_where_grid(false).html_safe %></p>

<h3>Fall 2012 volleyball league just concluded</h3>
<p>
	Congratulations to our fall volleyball players - our tournament day was a huge success! 
	We had 200+ players participating in this past fall league. 
	Don't miss out on next's spring's session beginning in April - registrations are already being accepted.  
</p>
-->
