<%= form_for @payment, :html => { :class => 'form-horizontal' } do |f| %>

  <fieldset>
    <legend><%= controller.action_name.capitalize %> payment</legend>

    <%= render 'shared/form_errors', :object => @payment %>

    <div class="control-group">
      <%= f.label :amount, 'Amount (in cents)', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :amount, :class => 'input-mini' %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.label :online, :class => 'checkbox' do %>
          <%= f.check_box :online %> Online payment?
        <% end %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
    <%= f.label :scholarship, :class => 'checkbox' do %>
          <%= f.check_box :scholarship %> Scholarship?
        <% end %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      &nbsp;or <%= link_to 'Cancel', payment_path(@payment) %>
    </div>
  </fieldset>
<% end %>
