<div class="page-header">
  <h1>Payments</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Regis #:</th>
      <th>Player name</th>
      <th>Amount</th>
      <th>Online</th>
      <th>Scholarship</th>
      <th></th>
    </tr>
  </thead>
<% if @payments.any? %>
  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= link_to payment.registration_id, registration_path(payment.registration_id) %></td>
        <td><%= payment.registration.name %></td>
        <td><%= dollarify payment.amount %></td>
        <td><%= payment.online? %></td>
        <td><%= payment.scholarship? %></td>
        <td class="shrink">
          <%= link_to 'Edit', edit_payment_path(payment), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
<% end %>
</table>
