<% payment_service_for @registration.id, 
		PAYPAL_ACCOUNT, 
		:amount => (@registration.total_price * 0.01),
    :currency => 'USD', 
		:service => :paypal do |service|
	    service.customer :first_name => @registration.first_name,
        :last_name => @registration.last_name,
        :phone => @registration.phone,
        :email => @registration.email
	    service.billing_address :city => @registration.city,
        :address1 => @registration.address,
        :state => @registration.state,
        :country => 'USA',
        :zip => @registration.zip
	    service.item_name "#{@registration.product.name} Payment"
	    service.invoice @registration.id
	    service.tax '0.00'
	    # service.notify_url url_for(:only_path => false, :controller => 'payments', :action => 'ipn')
	    service.notify_url payments_ipn_url(@payment, :only_path => false)
	    service.return_url registration_url(@registration.id)
	    # service.notify_url url_for(:only_path => false, :controller => 'payments', :action => 'ipn')
	    service.notify_url root_url(:only_path => false)
%>

	<header id="overview" class="subhead page-header paypal">
		<div class="container">
			<h1>Please confirm your payment</h1>
			<p class='lead'>Thanks, you're almost there!</p>
		</div>
	</header>

	<div class='alert alert-info paypal'>
		<p>
			When you click the 'Pay Now' button below, you will be taken to the safe and secure Paypal payment gateway where you may make payment for your registration with a a credit card (you do not need a Paypal account to complete your registration). 
		</p>
		<table class="">
			<tbody>
				<tr>
					<td class="item">
						<%= @registration.product.name %>
						<%= " with lite volleyball" if @registration.volleyball? %>
					</td>
					<td class="price"><%= dollarify @registration.total_price %></td>
					<td class="actions">
						<%= submit_tag 'Pay now with PayPal' %>
						or <%= link_to 'Cancel', new_registration_path %>
					</td>
			</tbody>
		</table>	
	</div>
<% end %>