<%= form_for @product, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Product</legend>


    <%= render 'shared/form_errors', :object => @product %>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, :class => 'input-xlarge', :rows => 3 %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :code, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :code %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :category, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :category %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :price, 'Price (in cents)', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :price, :class => 'input-mini' %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
    <%= f.label :enabled, :class => 'checkbox' do %>
          <%= f.check_box :enabled %> Enabled?
        <% end %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      &nbsp;or <%= link_to 'Cancel', products_path %>
    </div>
  </fieldset>
<% end %>
